In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('gapminder.tsv',sep='\t')

In [8]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

#### loc[ ] 인덱스기반 => ***명시된 만큼 ***포함!! 3이상 6이하!

In [13]:
df.loc[3:6]

       country continent  year  lifeExp       pop   gdpPercap
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439

#### iloc 순번 기반 => *** 파이썬기준 *** 3이상 6미만까지!

In [12]:
df.iloc[3:6]

       country continent  year  lifeExp       pop   gdpPercap
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360

* 인덱스가 0, 99, 999 인 데이터를 df에서 한번에 추출하기
- 인덱스니까 loc
- 1개가 아니라 여러 개! => 리스트에 담는다 [0, 99, 999]
- 변수명.loc[[0,99,999]]

In [15]:
df.loc[[0,99,999]]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

### 데이터 추출
#### (3) 슬라이싱: 특정 행과 열

* 변수명.loc[인덱스, '열이름'] cf) 변수명.loc['인덱스'(문자형일때만), '열이름']
* 변수명.iloc[행순번, 열순번]

In [20]:
df.loc[[98,99,100],:]

        country continent  year  lifeExp       pop   gdpPercap
98   Bangladesh      Asia  1962   41.216  56839289  686.341554
99   Bangladesh      Asia  1967   43.453  62821884  721.186086
100  Bangladesh      Asia  1972   45.252  70759295  630.233627

In [21]:
df.iloc[1111,:]

country      Nicaragua
continent     Americas
year              1987
lifeExp         62.008
pop            3344353
gdpPercap      2955.98
Name: 1111, dtype: object

In [22]:
df.iloc[[111,1111],:]

        country continent  year  lifeExp      pop     gdpPercap
111     Belgium    Europe  1967   70.940  9556500  13149.041190
1111  Nicaragua  Americas  1987   62.008  3344353   2955.984375

In [27]:
df.iloc[[0,2,4,6,8],[0,2,4]]

       country  year       pop
0  Afghanistan  1952   8425333
2  Afghanistan  1962  10267083
4  Afghanistan  1972  13079460
6  Afghanistan  1982  12881816
8  Afghanistan  1992  16317921

In [29]:
df.iloc[[0,2,4,6,8],['country', 'year', 'pop']]

IndexError: .iloc requires numeric indexers, got ['country' 'year' 'pop']

In [30]:
df.loc[[1,3,5,7,9],['continent','lifeExp','gdpPercap']]

  continent  lifeExp   gdpPercap
1      Asia   30.332  820.853030
3      Asia   34.020  836.197138
5      Asia   38.438  786.113360
7      Asia   40.822  852.395945
9      Asia   41.763  635.341351

In [26]:
df.loc[[1,3,5,7,9],[1,3,5]]

KeyError: "None of [Int64Index([1, 3, 5], dtype='int64')] are in the [columns]"

* 세 번째 행부터 네 번째 행까지, 네 번째 열부터 다섯 번째 열까지 데이터추출
* ex) df.loc[ '3rd' : '4th' , 'four' : 'five' ]

In [35]:
df.loc[3:5,'year':'pop']

   year  lifeExp       pop
3  1967   34.020  11537966
4  1972   36.088  13079460
5  1977   38.438  14880372

In [38]:
df.iloc[3:6,2:5]

   year  lifeExp       pop
3  1967   34.020  11537966
4  1972   36.088  13079460
5  1977   38.438  14880372

* iloc의 특성

In [41]:
df.iloc[2:3,3:4]

   lifeExp
2   31.997

In [42]:
df.iloc[2,3]

31.997

In [43]:
df.iloc[1700:,3:]

      lifeExp       pop   gdpPercap
1700   60.377  10704340  693.420786
1701   46.809  11404948  792.449960
1702   39.989  11926563  672.038623
1703   43.487  12311143  469.709298

* 퀴즈 : country, continent, year를 subset에 지정하려면?

In [48]:
subset = df[['country','continent','year']]

In [55]:
subset = df.loc[:,'country':'year']

In [58]:
subset = df.loc[:, ['country','continent','year']]

In [61]:
subset = df.iloc[:,0:3 ]

In [64]:
subset = df.iloc[:,[0,1,2]]

*** subset = df.iloc[:, 0,1,2] 이건안됨

In [67]:
df[['country':'year']]

SyntaxError: invalid syntax (<ipython-input-67-0f311a30be41>, line 1)

In [68]:
df['country':'year']

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.range.RangeIndex'> with these indexers [country] of <class 'str'>

In [63]:
subset

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

### 데이터 추출
#### (4) 슬라이싱: range적용한 슬라이싱

* 변수의 df의 데이터들 중, 짝수 번째 데이터만 가져올 수 있을까?
* 이럴 때 range "도" 사용가능!
* 단, range 가 반환하는 값은 바로 못쓰고 **리스트** 로 받아야 이용가능
* list(range()) 형태

In [72]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [73]:
list(range(0,6))

[0, 1, 2, 3, 4, 5]

In [75]:
list(range(0,6,2))

[0, 2, 4]

In [76]:
df.iloc[range(0,6,2)]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [78]:
df[range(0,6,2)]

KeyError: "None of [Int64Index([0, 2, 4], dtype='int64')] are in the [columns]"

In [80]:
df.iloc[range(6)]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360

In [82]:
df.iloc[range(6),:]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360

In [84]:
df.iloc[range(6),range(0,3)]

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
5  Afghanistan      Asia  1977

In [92]:
df.iloc[range(0,6,2),range(1,6,2)] ##6직전까지의 짝수 행추출됨 주의!!!!!!!!!!!!!!!!

  continent  lifeExp   gdpPercap
0      Asia   28.801  779.445314
2      Asia   31.997  853.100710
4      Asia   36.088  739.981106